<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else 'My Flask App' }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if current_user.is_authenticated %}

    {% endif %}

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div id="flash-messages" role="alert">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>
    <script>
      setTimeout(function() {
        var flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
          flashMessages.style.display = 'none';
        }
      }, 3000);
    </script>
</body>
</html>
