{% extends 'layout.jinja2' %}

{% block content %}

<div class="center-form">
    <div class="form-container">
        <h2>Sign Up</h2>
        <form method="POST" action="{{ url_for('auth.signup') }}">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div id="flash-message" role="alert">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required aria-required="true">
            </div>
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control" required aria-required="true">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" class="form-control" required aria-required="true">
            </div>
            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>

        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in here</a>.</p>
    </div>
</div>

{% endblock %}
